@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0;
    padding:0;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: black;
    color: white;
}
.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;
}
.home{
    padding: 12px;
}
.home ul li{
    display: flex;
    gap: 15px;
    width: 12px;
    list-style: none;
    padding-top: 15px;
    font-weight: bold;
}
.library{
    min-height: 80vh;
    position: relative;
}
.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 15px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}
.heading img{
    width: 30px;
}
.footer{
    display: flex;
    font-size: 9px;
    gap: 15px;
    color: grey;
    position: absolute;
    bottom: 0;
}

.footer a{
    color: grey;
}
.right{
    margin: 16px 0;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px; 
    background-color: rgb(33, 33, 33);   
}
.spotifyplaylist{
    padding: 16px;
}
.cardcontainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 23px;

}
.playcard{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
}
.playcard > *{
    padding-top: 10px;
}
.playcard img{
    width: 100%;
    object-fit: contain;
}
